
* {
    box-sizing: border-box;
}
    
body {
    margin: 0px;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, 
    Verdana, 
    sans-serif
}

#navbar {
    background: linear-gradient(
        to bottom, 
        red, 
        blue
    );
        display: flex;
        justify-content: space-between;
        align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}


#navbar img {
    width: 200px;
}

#navbar #logo-container {
    margin-right: auto;
}

#hero-1 {
    background-image: url("../images/StyleGuideProjeFinalTdewitt_2.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
}
    
    #hero-1 h1 {
    font-size: 120px;
    padding-left: 100px;
}
    
.cta-button {
    background-color: red;
    color: white;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
    
.special{
    flex: 200px;
    border: 5px solid  red;
    margin: 24px;
    padding: 24px;
    border-radius: 5px;
    text-align: center;
    
}

.special a {
    text-decoration: none;
    color: red;
    display:flex;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}
.narrow1 {
    width: 450px;
    background-color: blue;
    color: white;
    display: inline-block;
}
.narrow2{
    width: 400px;
    background-color: red;
    color: white;
    display: inline-block;
}
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
  
}
#navbar {
    position: sticky;
    top: 0px;
}
#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}
#card3-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.card a {
    text-decoration: none;
    color: blue;
    display: block;
    border: 5px solid blue;
    padding: 12px;
    margin-top: 36px;
}  
.sub {
    flex: 300px;
    border: 3px solid blue;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
.sub a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid red;
    padding: 12px;
    margin-top: 36px;
}
#card4-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.buger {
    flex: 300px;
    border: 3px solid blue;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}
.buger a {
    text-decoration: none;
    color: blue;
    display: block;
    border: 5px solid blue;
    padding: 12px;
    margin-top: 36px;
}  

.single-column {
    width: 50%;
    min-width: 600px;
    margin-left: auto;
    margin-right: center;
}
.light-container {
    background-color: lightskyblue;
    padding: 50px 25px;
}
    
   
#footer {
    background: linear-gradient(
        to bottom, 
        blue, 
        red
        );
    color: white;
    padding: 12px;
    text-align: center;
}
    
#footer a {
    text-decoration: none;
    color: white;
    text-align: center;
}

#footer-navbar {
    width: 800px;
    margin: center;
    display: flex;
    justify-content: space-between;
}  
    
#footer-columns-navbar {
    width: 800px;
    margin: 0px center;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
}
    
#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}
  
    #footer-columns-navbar a {
    padding: 10px 0px;
}

@media screen and (max-width: 800px) {
    #footer-navbar {
        flex-direction: column;
        align-items: center;
    }
}
