
* {
    box-sizing: border-box;
}
    
body {
    margin: 0px;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, 
    Verdana, 
    sans-serif
}

#navbar {
    background: linear-gradient(
        to bottom, 
        red, 
        blue
    );
        display: flex;
        justify-content: space-between;
        align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}


#navbar img {
    width: 200px;
}

#navbar #logo-container {
    margin-right: auto;
}
    
#navbar .cta-button {
    background-color: white;
    color: black;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}


#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}


#navbar {
    position: sticky;
    top: 0px;
}

    
#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}

#hero-1 {
    background-image: url("../images/StyleGuideProjeFinalTdewitt_2.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin-bottom: 100px;
}

#hero-1 h1 {
font-size: 120px;
padding-left: 100px;
}  
#hero-1.cta-button {
    background-color: blue;
    color: white;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
    
.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    
}

.card a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}
 
#cards2-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
   
}
    
.card2 {
    flex: 200px;
    border: 3px solid blue;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card2 a {
    text-decoration: none;
    color: blue;
    display: block;
    border: 5px solid blue;
    padding: 12px;
    margin-top: 36px;
}

#two-columns {
    display: flex;}
    
    
    #sidebar-content {
    background-color: #cfe2d8;
    width: 250px;
    padding: 24px;
    border-right: 2px solid #72a586;
}
    
#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}
    
    #sidebar-content ul a {
    color: black;
    text-decoration: none;
}
    
#sidebar-content ul li {
    padding: 4px 0px;}
    
    
#main-content {
    flex: 2;
    padding: 48px;
}
 
#cards3-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
   
}
    
.card3 {
    flex: 200px;
    border: 5px solid;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card3 a {
    text-decoration: none;
    color: blue;
    display: block;
    border: 5px solid blue;
    padding: 10px;
    margin-top: 25px;
}

#footer {
    background: linear-gradient(
        to bottom, 
        blue, 
        red
        );
    color: white;
    padding: 12px;
}
    
#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: center;
    display: flex;
    justify-content: space-between;
}  
    
#footer-columns-navbar {
    width: 800px;
    margin: 0px center;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
}
    
#footer-columns-navbar div {
    display: flex;
    flex-direction: column;
}
  
    #footer-columns-navbar a {
    padding: 10px 0px;
}
   