#palette-name { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center
}
#palette-color-1{
    background-color:#ff7733;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}
   #palette-color-2 {
    background-color: orange;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
   }
   #palette-color-3 {
    b
   }