/* Drill 1 - Write your code solution below */
.d1-container{
    padding: 36px;
}

/* Drill 2 - Write your code solution below */
#d2-container-1{
 padding: 48px 24px;
}

/* Drill 3 - Write your code solution below */
#d3-div-1,
#d3-div-3 {
    padding: 12px;
}
#d3-div-2 {
    padding: 12px 48px;
}
/* Drill 4 - Write your code solution below */
#d4-div-1 {
    padding: 24PX;
}
#d4-div-2 {
    padding: 0px 24px 24px 24px;
}

/* Drill 5 - Write your code solution below */
#d5-container-1{
    padding: 25px;
text-align: center; 
}
#d5-s-1,
#d5-s-2,
#d5-s-3-{
    padding: 25px;
display: inline-block;
}