* {
    box-sizing: border-box
}
    
    body {
    margin: 0px;
    font-family: sans-serif;
    }

    
    #hero-1 {
        background-image: url("../images/minions.jiff");
        height: 100vh;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: flex-start;
        align-items: center; 
        margin-bottom: 100px;
    }
   
#hero-1 h1 {
    font-size: 120px;
    padding-left: 100px;
} 
