
* {
    box-sizing: border-box;
}
    
body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background: linear-gradient(
        to bottom, 
        blue, 
        white
    );
        display: flex;
        justify-content: space-between;
        align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
  

#navbar {
    background: linear-gradient(
        to bottom, 
        blue, 
        white
    );
        display: flex;
        justify-content: space-between;
        align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
  