/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

div.frame-1 {
    border: 5px solid brown;
    background-color: beige;
    width: 100px;
    padding: 25px;
    margin: 10px;

}
div.frame-1 img {
    width: 100%;
    display: block;
}
p {
    border:10px solid red;
    
}


div.frame-2 {
    border: 10px solid blue;background-color: antiquewhite;
    width: 50px;
    padding: 25px;
    margin: 10px;
}


.frame-2 img {
    width: 100%;
    display: block;
    
}

div.frame-3 {
    border: 10px solid orangered;
    width: 100px;
    margin: 16px;
    
}


.frame-3 img {
    width: 100%;
    display: block;
}